
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

  
  body {
    font-family: 'Cairo', Arial, sans-serif;

  }




header {
    background-color: #696969;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center; 
  }
  
  header img {
    max-width: 80px; 
    height: auto;
    margin-right: 20px; 
    margin-left: 20px; 

  }

.title {
  white-space: nowrap;
}


  header h1 {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
    margin: 0;
  }
  header h2 {
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 750;
    font-style: normal;
      margin: 0;
    }

#contact {
  padding: 10px;
  margin-top: 10; 
  background-color: #f0f0f0; 
}

#contact h2 {
  color: #333;
}

#contact p {
  color: #666;
}


.social-icons {
  margin-top: 10px; 
}

.social-icons a {
  color: #333;
  font-size: 20px;
  margin-right: 10px; 
}

  
  @media (max-width: 600px) {
    header h1 {
      font-size: 24px;
    }
  
    header img {
      max-width: 80px; 
    }
  
    section {
      padding: 10px;
    }
  
    footer {
      padding: 5px;
    }
  }



  #language-selector {
    position: fixed;
    top: 10px;
    right: 10px;
  }
  
  .project-link a {
    font-size: 1.2rem; 
    text-decoration: underline; 
    color: #000;
  }

  .Vcount a {
    margin-right: 10px; 

    font-size: 1rem; 
    text-decoration: none;
    color: #000; 
  }


  .addme-link a {
    font-size: 1rem; 
    text-decoration: underline;
    color: #000; 
  }

  .CV-link a {
    font-size: 1rem; 
    text-decoration: underline; 
    color: #000;
  }
