/* styles.css */

/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

  
  body {
    font-family: 'Cairo', Arial, sans-serif;
    /* Rest of your CSS code */
  }



/* Header Styles */
header {
    background-color: #696969;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center; /* Align items vertically */
  }
  
  header img {
    max-width: 80px; /* Adjust the value to your desired size */
    height: auto;
    margin-right: 20px; /* Add some spacing between the logo and name */
    margin-left: 20px; /* Add some spacing between the logo and name */

  }

.title {
  white-space: nowrap;
}


  header h1 {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
    margin: 0;
  }
  header h2 {
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 750;
    font-style: normal;
      margin: 0;
    }
  /* Contact Section Styles */
#contact {
  padding: 10px;
  margin-top: 10; /* Add spacing between the content and contact section */
  background-color: #f0f0f0; /* Add a background color to the contact section */
}

#contact h2 {
  color: #333;
}

#contact p {
  color: #666;
}


.social-icons {
  margin-top: 10px; /* Add spacing between the contact information and social icons */
}

.social-icons a {
  color: #333;
  font-size: 20px;
  margin-right: 10px; /* Add spacing between the social icons */
}

  
  /* Footer Styles 
  footer {
    background-color: #696969;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  */ 

  /* Media Queries */
  @media (max-width: 600px) {
    header h1 {
      font-size: 24px;
    }
  
    header img {
      max-width: 80px; /* Adjust the value to your desired size */
    }
  
    section {
      padding: 10px;
    }
  
    footer {
      padding: 5px;
    }
  }



  #language-selector {
    position: fixed;
    top: 10px;
    right: 10px;
  }
  
  .project-link a {
    font-size: 1.2rem; /* Adjust the value to your desired h3 size */
    text-decoration: underline; /* Remove the underline */
    color: #000; /* Change the color to your desired color */
  }

  .addme-link a {
    font-size: 1rem; /* Adjust the value to your desired h3 size */
    text-decoration: underline; /* Remove the underline */
    color: #000; /* Change the color to your desired color */
  }

  .CV-link a {
    font-size: 1rem; /* Adjust the value to your desired h3 size */
    text-decoration: underline; /* Remove the underline */
    color: #000; /* Change the color to your desired color */
  }
